*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: hsl(0, 0%, 95%);
  --dark-gray: hsl(0, 0%, 83%);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  color: hsl(0, 0%, 100%);
  width: 1000px;
  background-color: hsla(0, 0%, 100%, 0.144);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

body::before {
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  inset: 0;
}
